body{
	margin: 0;
	padding: 0;
}
/*header start*/
header {
	background-color: #121B21;
	padding: 10px 0;
}
.wrapper {
	margin: 0 auto;
	width: 80%;
	/*border: 1px solid white;*/
	overflow: hidden;
}

.logo {
	/*border: 1px solid white;*/
	width: 15%;
	float: left;
}
.logo img {
	width: 100%; 

}

.menu {
	/*border: 1px solid white;*/
	width: 70%;
	float: right;
	margin-top: 20px;
}
.menu ul {
	float: right;

}
.menu ul li {
	list-style: none;
	float: left;

}
.menu ul li a {
	font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 25px;
    display: inline-block;
    transition: 0.3s;

}
.menu ul li a:hover{
	color: #0078BD;
}
.menu ul li:last-child a {
	padding-right: 0;

}
/*header end*/